<% layout("/layouts/boilerplate") -%>
  <body><br>
    <h2>Edit Your Property:</h2><br>
    <form method="post" action="/listings/<%= list._id %>?_method=PUT" class="needs-validation" novalidate>
          <div>
            <label for="title" class="form-label" >Title</label>
            <input name="title" class="form-control" type="text" value="<%= list.title%>" required></input>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div><br />
          <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="description" class="form-control" type="text" required><%= list.description%></textarea>
            <div class="invalid-feedback">
                Please enter a valid Description
              </div><br>
          </div>
          <div>
            <label for="image" class="form-label" >Image Link </label>
            <input name="image" class="form-control" type="text" value="<%= list.image%>" required></input>
            <div class="invalid-feedback">
                Please enter a valid url
            </div><br>
          </div>
          <div>
            <label for="location" class="form-label" >Location</label>
            <input name="location" class="form-control" type="text" value="<%= list.location%>" required></input>
            <div class="invalid-feedback">
                Please enter a valid Location
            </div><br />
          </div>
          <div class="row">
            <div class="col-md-8">
              <div>
                <label for="country" class="form-label">Country</label>
                <input name="country" class="form-control" type="text" value="<%= list.country%>" required></input>
                <div class="invalid-feedback">
                  Country must be valid
                </div><br />
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <label for="price" class="form-label">Price</label>
                <input name="price" class="form-control" type="number" value="<%= list.price%>" required></input>
                <div class="invalid-feedback">
                Please enter a valid price
                </div><br />
              </div>
            </div>
          </div>  
          <button type="submit" class="btn btn-dark">Edit Property</button>
          <br>
        </form>
  </body>
